@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination-button {
    padding: 4px 20px;
    border: 1px solid #ccc;
    background-color: #eee;
    font: #999;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    border: 1px solid #666;
    background-color: #fff;
    font: #000;
}

.pagination-button-disabled {
    background-color: #ddd;
    font: #999;
    cursor: not-allowed;
}

.pagination-button-disabled:hover {
    border: 1px solid #ccc !important;
    background-color: #ddd !important;
    font: #999 !important;
}

/* 全体のスタイル */
.terms-container {
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
    line-height: 1.8;
    color: #333;
    /* background-color: #fff; */
}

/* タイトル */
.terms-container h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #444;
}

/* 各条タイトル */
.terms-container h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

/* 条文の段落 */
.terms-container p {
    font-size: 16px;
    margin-bottom: 15px;
}

/* リストのスタイル */
.terms-container ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

.terms-container ul li {
    list-style-type: disc;
}

/* ナンバリングリスト */
.terms-container ol {
    padding-left: 20px;
    margin-bottom: 15px;
}

.terms-container ol li {
    list-style-type: decimal;
}

/* 見やすいボックス表示 */
.terms-container .important {
    background-color: #f8f9fa;
    padding: 10px;
    border-left: 4px solid #007bff;
    margin: 20px 0;
}

/* フッター */
.terms-container .terms-footer {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}