@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination-button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination-button-disabled {
    background-color: #eee;
    cursor: not-allowed;
}